@model GreenhavenMgmt.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit This Entry</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                First Name
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                Last Name
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                Birth Year
                <input asp-for="birthYear" class="form-control" />
                <span asp-validation-for="birthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                Birth Month
                <input asp-for="birthMonth" class="form-control" />
                <span asp-validation-for="birthMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                Birth Day
                <input asp-for="birthDay" class="form-control" />
                <span asp-validation-for="birthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                Year of Death
                <input asp-for="deathYear" class="form-control" />
                <span asp-validation-for="deathYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                Month of Death
                <input asp-for="deathMonth" class="form-control" />
                <span asp-validation-for="deathMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                Day of Death
                <input asp-for="deathDay" class="form-control" />
                <span asp-validation-for="deathDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                Plot ID
                <input asp-for="plot_id" class="form-control" />
                <span asp-validation-for="plot_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

