@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Greenhaven Management System</h1>
    <p>Access your CRUD operations by clicking 'Cemetery Entry System' up on the menu</a>.</p>
</div>
